<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Profile</title>
  <link rel="stylesheet" href="navbar.css">

</head>

<body>

  <div class="footer">
    <div class="footer_content">
      <div class="socials">
        <h3>Stay Connected</h3>
        <p>Address: Dublin, Ireland</p>
        <p>Phone: (+355) 123 45 67</p>
        <h5>Follow us on social media</h5>
        <img src="./images/holder.png" alt="Soc meds">
      </div>

      <div class="autoworx">
        <h3>Autoworx Pro.</h3>
        <p>About Us</p>
        <p>Careers</p>
        <p>Collaboration</p>
        <p>Dashboard</p>
        <p>Policies</p>
      </div>

      <div class="services">
        <h3>Customer Services</h3>
        <p>Rules and Regulations</p>
        <p>Terms of Use</p>
        <p>Return Procedure</p>
        <p>Privacy Policy</p>
        <p>Forums</p>
      </div>

      <div class="quick">
        <h3>Quick Access</h3>
        <p>Contact Us</p>
        <p>Blog</p>
        <p>Returns and Refunds</p>
        <p>Track Order</p>
        <p>FAQ</p>
      </div>
    </div>
  </div>

</body>

</html>