<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Profile</title>
  <link rel="stylesheet" href="navbar.css">

</head>

<body>

  <div class="navbar-container">

    <div class="navbar">
      <div class="navbar-left">
        <div class="logo">
          <a href="#"><img src="../images/logo-red.png"></a>
        </div>
        <a href="../homepage.html">Home</a>
        <a href="../Subscriptions-user.html">Subscriptions</a>
        <a href="../featured-user.html">Services</a>
        <a href="../contactus.html">Contact Us</a>
      </div>
      <div class="navbar-right">

        <div class="username">
          <a href="../login.html" class="user-link">
            <img src="../images/usernamebg.png" alt="User Profile Image">
            <span>Login/Register</span>
          </a>
        </div>

        <a href="#" class="cart-icon"><img src="../images/cart.png"></a>
        <a href="#" class="search-icon"><img src="../images/search.png"></a>
      </div>
    </div>

  </div>

</html>