

.footer
    .footer_content
        .socials
            h3 Stay Connected
            p Address: Dublin, Ireland
            p Phone: (+355) 123 45 67
            h5 Follow us on social media
            img(src="./images/holder.png", alt="Soc meds")
        .autoworx
            h3 Autoworx Pro.
            p About Us
            p Careers
            p Collaboration
            p Dashboard
            p Policies
        .services
            h3 Customer Services
            p Rules and Regulations
            p Terms of Use
            p Return Procedure
            p Privacy Policy
            p Forums
        .quick
            h3 Quick Access
            p Contact Us
            p Blog
            p Returns and Refunds
            p Track Order
            p FAQ
