<div class="navbar-container">
  <div class="navbar">
      <div class="navbar-left">
        <div class="logo">
          <a href="#"><img src="../images/logo-red.png"></a>
        </div>
        <a href="/">Home</a>
        <a href="/subscriptions">Subscriptions</a>
        <a href="/services">Services</a>
      </div>
      <div class="navbar-right">
        <div class="username">
          <a href="/login" class="user-link">
            <img src="../images/usernamebg.png" alt="User Profile Image">
            <span>Login/Register</span>
          </a>
        </div>
        <a href="#" class="cart-icon"><img src="../images/cart.png"></a>
        <a href="#" class="search-icon"><img src="../images/search.png"></a>
      </div>
    </div>
  </div>