block stylesheets
    link(rel='stylesheet', href='/error.css')

block content
    .container
        h1 404
        p Oops! Page not found.
        p
        | Go back to 
        a(href="/") home
        | .