<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href = "partials/navbar.css">
    <title>Login Page</title>

    <script>
        function loginAndRedirect() {
            var username = document.querySelector('input[name="email"]').value;
            var password = document.querySelector('input[name="password"]').value;
            var name = document.querySelector('input[name="name"]').value;

            if (username && password && name) {
                window.location.href = 'login-page.html';
            } else {
                alert("Please fill in all fields");
            }
        }
    </script>

</head>

<body>

    <div class="navbar">
        <div class="navbar-left">
          <div class="logo">
            <a href="#"><img src="./images/logo-red.png"></a>
          </div>
          <a href="./homepage.html">Home</a>
          <a href="./Subscriptions-user.html">Subscriptions</a>
          <a href="./featured-user.html">Services</a>
          <a href="./contactus.html">Contact Us</a>
        </div>
        <div class="navbar-right">
    
           <div class="username">
            <a href="./login.html" class="user-link">
              <img src="./images/usernamebg.png" alt="User Profile Image">
              <span>Login/Register</span>
            </a>
          </div>
       
          <a href="#" class="cart-icon"><img src="./images/cart.png"></a>
          <a href="#" class="search-icon"><img src="./images/search.png"></a>
        </div>
    </div>

    <div class ="login">

    <div class="login-container">
        <h2>Register your Account</h2>
        <p3>New here? Fill in the following details</p3>
        <form action="login.php" method="post">
            <input type="text" name="fname" placeholder="First Name" required>
            <input type="text" name="lname" placeholder="Last Name" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="cars" required>
                <option value="" disabled selected>How many cars do you own?</option>
                <option value="1to3">1-3</option>
                <option value="4to6">4-6</option>
                <option value="7plus">7+</option>
            </select>
            <button type="button" onclick="loginAndRedirect()">REGISTER</button>
        </form>
        <p>Have an account? <a href="login.html">Login Here</a></p>
    </div>
    <div class="pictures">
        <div id="title">
            <img src="./images/logo-red.png">
        </div>
    </div>

    </div>

    <div class="footer">
        <div class="footer_content">
          <div class="socials">
            <h3>Stay Connected</h3>
            <p>Address: Dublin, Ireland</p>
            <p>Phone: (+355) 123 45 67</p>
            <h5>Follow us on social media</h5>
            <img src="./images/holder.png" alt="Soc meds">
          </div>
    
          <div class="autoworx">
            <h3>Autoworx Pro.</h3>
            <p>About Us</p>
            <p>Careers</p>
            <p>Collaboration</p>
            <p>Dashboard</p>
            <p>Policies</p>
          </div>
    
          <div class="services">
            <h3>Customer Services</h3>
            <p>Rules and Regulations</p>
            <p>Terms of Use</p>
            <p>Return Procedure</p>
            <p>Privacy Policy</p>
            <p>Forums</p>
          </div>
    
          <div class="quick">
            <h3>Quick Access</h3>
            <p>Contact Us</p>
            <p>Blog</p>
            <p>Returns and Refunds</p>
            <p>Track Order</p>
            <p>FAQ</p>
          </div>
        </div>
    </div>
</body>

</html>