<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href = "partials/navbar.css">
    <title>Error</title>

</head>

<body>

  {{> _header }}

  <h1>Error {{err.statusCode}}</h1>
  <p>{{err.message}}</p>

</body>

</html>