<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo-red.png">
    <title>AutoworxPro | Homepage</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href = "partials/navbar.css">

</head>

<body>
    <script src="homepage.js"></script>

    {{> _header }}
    <div class="header">
        <div class="image_size">
            <div class="carousel-container">
                <div class="carousel-inner">
                    <div class="carousel-item image_size">
                        <img src="/images/featured/1.jpg" alt="Image of Featured 1">
                        <div class="gradient-overlay"></div>
                        <div class="dark-gradient-overlay"></div>
                    </div>
                    <div class="carousel-item image_size">
                        <img src="/images/featured/2.jpg" alt="Image of Featured 2">
                        <div class="gradient-overlay"></div>
                        <div class="dark-gradient-overlay"></div>
                    </div>
                    <div class="carousel-item image_size">
                        <img src="/images/featured/3.jpg" alt="Image of Featured 3">
                        <div class="gradient-overlay"></div>
                        <div class="dark-gradient-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="header_content">
                <h1>
                    Unleash the shine,<br> elevate the style
                </h1>
                <p>Book an appointment with us now!</p>
            </div>
        </div>
    </div>

    <div class="about">
        <header>About Us</header>
        <div class="about_image_size">
            <div class="about-gradient-overlay"></div>
            <img src="./images/featured/1.jpg" alt="About Image">
            <div class="about_content">
                <h1>Auto Worx Pro</h1>
                <p>Autoworx Pro is a leading name in automotive services, offering two specialized divisions for comprehensive car care. Our first division provides automated car wash services through a convenient subscription model, ensuring hassle-free maintenance for our customers.</p>
            </div>
        </div>
    </div>

    <!-- Newsletter section is commented out
        <div class="newsletter">
            <header>Newsletter</header>
            <div class="newsletter_image_size">
                <div class="newsletter-gradient-overlay"></div>
                <img src="./images/featured/3.jpg" alt="Newsletter Image">
                <div class="newsletter_content">
                    <div class="item1">
                        <img src="./images/news1.jpg" alt="Newsletter 1">
                        <h2>Title 01</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="read_more">Read more...</p>
                    </div>
                    <div class="item2">
                        <img src="./images/news2.jpg" alt="Newsletter 2">
                        <h2>Title 02</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="read_more">Read more...</p>
                    </div>
                    <div class="item3">
                        <img src="./images/news3.jpg" alt="Newsletter 3">
                        <h2>Title 03</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="read_more">Read more...</p>
                    </div>
                </div>
            </div>
        </div>
    -->

    <!-- Error Popup -->
    <div id="errorPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupError" class="closePopup">&times;</span>
        <h3 style="color: azure;">There seems to be a problem</h3>
        <p id="errorText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Success Popup -->
    <div id="successPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupSuccess" class="closePopup">&times;</span>
        <h3 style="color: azure;">Success</h3>
        <p id="successText" style="color: azure;"></p>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>