extends base
block stylesheets 
    link(rel="stylesheet" href="/css/homepage.css")
    link(rel='stylesheet' href='/partials/navbar.css')
block content 
    
    .header
        .image_size
            .carousel-container
                .carousel-inner
                    .carousel-item 
                        .image_size
                            img(src='/images/featured/1.jpg', alt='Image of Featured 1')
                            .gradient-overlay 
                            .dark-gradient-overlay

                    .carousel-item 
                        .image_size
                            img(src='/images/featured/2.jpg', alt='Image of Featured 1')
                            .gradient-overlay 
                            .dark-gradient-overlay

                    .carousel-item 
                        .image_size
                            img(src='/images/featured/3.jpg', alt='Image of Featured 1')
                            .gradient-overlay 
                            .dark-gradient-overlay
                
            .header_content
                h1
                    |Unleash the shine,
                    br
                    | elevate the style
                p Book an appointment with us now!
                

    .about
        header About Us
        .about_image_size
            .about-gradient-overlay
            img(src="./images/featured/1.jpg", alt="About Image")
            .about_content
                h1 Auto Worx Pro 
                p Autoworx Pro is a leading name in automotive services, offering two specialized divisions for comprehensive car care.Our first division provides automated car wash services through a convenient subscription model, ensuring hassle-free maintenance for our customers. 

    //- .newsletter
    //-     header Newsletter
    //-     .newsletter_image_size
    //-         .newsletter-gradient-overlay
    //-         img(src="./images/featured/3.jpg", alt="Newsletter Image")
    //-         .newsletter_content
    //-             .item1
    //-                 img(src="./images/news1.jpg", alt="Newsletter 1")
    //-                 h2 Title 01
    //-                 p Lorem ipsum dolor sit amet.
    //-                 p.read_more Read more...
    //-             .item2
    //-                 img(src="./images/news2.jpg", alt="Newsletter 2")
    //-                 h2 Title 02
    //-                 p Lorem ipsum dolor sit amet.
    //-                 p.read_more Read more...
    //-             .item3
    //-                 img(src="./images/news3.jpg", alt="Newsletter 3")
    //-                 h2 Title 03
    //-                 p Lorem ipsum dolor sit amet.
    //-                 p.read_more Read more...
