extends base

block stylesheets 
    link(rel="stylesheet" href="/login.css")
    link(rel='stylesheet' href='/partials/navbar.css')
block content

    .login-container 
        h2 Login to your Account 
        p3 Welcome back! Fill in the following details 

        form
            input(id='email',type='email', name='email',placeholder='you@example.com', required) 
            input(id='password', type='password', name='password', placeholder='●●●●●●●●' required) 
            button(type='submit') Log In 
        p Don't have an Account?
            a(href="/register") Register Here

    
block scripts 
    script(src='/js/login.js')

