<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Vehicles</title>
    <link rel="stylesheet" href="/partials/navbar.css">
    <link rel="stylesheet" href="/user-profile.css">
    <link rel="stylesheet" href="/featured.css">
</head>
<body>
    {{> _header }}

    <div id="overlay"></div>

    <header>Registered Vehicles</header>

    <div class="registered-cars">
        {{#each vehicleClassification}}
            <hr>
            <div class="car">
                <img src="/images/vehicleClassification/{{this.photo}}">
                <div class="car-status">
                    <div class="car-info">
                        <p class="car-text">{{this.name}}</p>
                    </div>
                    <button id="vehicleClassificationEditBtn" class="edit-btn" type="button" data-id="{{this._id}}">Edit</button>
                    <button id="vehicleClassificationDeleteBtn" class="delete-btn" type="button" data-id="{{this._id}}">Delete</button>
                </div>
            </div>
        {{/each}}

        <hr>
        <button id="add">
            <img id="id" src="/images/add.png">
        </button>

        <div id="addCarPopup" class="popupContainer">
            <div class="popupContent">
                <span id="closePopup" class="closePopup">&times;</span>
                <h1 id="title">Add a Vehicle Classification</h1>

                <form id="addCarForm">
                    <label for="vehicleClassification">Vehicle Classification</label>
                    <input type="text" id="vehicleClassification" name="vehicleClassification">
                    <label for="photo">Upload Image</label>
                    <input type="file" id="photo" name="photo" accept="image/*">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div id="editCarPopup" class="popupContainer">
            <div class="popupContent">
                <span id="closePopupEdit" class="closePopup">&times;</span>
                <h1>Edit A Vehicle Classification</h1>

                <form id="editCarForm">
                    <label for="vehicleClassificationEdit">Vehicle Classification</label>
                    <input type="text" id="vehicleClassificationEdit" name="vehicleClassificationEdit">
                    <label for="photoEdit">Upload Image</label>
                    <input type="file" id="photoEdit" name="photoEdit" accept="image/*">
                    <button type="submit">Submit</button>
                    <input type="hidden" id="vehicleClassId" name="vehicleClassId">
                </form>
            </div>
        </div>

        <div id="successPopup" class="popupContainer">
            <div class="popupContent">
                <span id="closeSuccessPopup" class="closePopup">&times;</span>
                <h1>Completed</h1>
                <p>The Vehicle Classification has been added successfully.</p>
                <button id="closeBtn" type="submit">Done</button>
            </div>
        </div>

        <div id="successPopupEdit" class="popupContainer">
            <div class="popupContent">
                <span id="closeSuccessPopupEdit" class="closePopup">&times;</span>
                <h1>Completed</h1>
                <p>The Vehicle Classification has been updated successfully.</p>
                <button id="closeBtnEdit" type="submit">Done</button>
            </div>
        </div>

    </div>

    <script src="/js/addVehicleClassification.js"></script>
</body>
</html>
