.popupContent {
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
}

.popupContent .contentWrapper {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.popupContent img {
    width: 180px;
    margin-right: 10px;
    /* Adjust margin between image and info */
}

.info-item {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Align items vertically */
}


.info-item span {
    margin-left: 250px;
}

#cart button,
#addPopup button,
#bookingPopup button,
.dateTimeSubmit {
    font-family: Montserrat;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    background-color: #ED1C24;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
}

#cart button:hover,
#addPopup button:hover,
#bookingPopup button:hover,
.dateTimeSubmit:hover {
    background-color: #FF5555;
}

/* #addDateTimePopup,
#dateTimePopup {
    width: fit-content;
} */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    align-items: center;
    margin: auto;
}

.content input {
    margin: 10px;
}

/* Cart Popup */
#cart {
    display: none;
    /* Initially hide the cart */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
    padding: 20px;
    border-radius: 10px;
    color: red;
    /* Change the text color as needed */
    z-index: 9999;
    width: 75%;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add box shadow */
    overflow-y: auto;
    /* Add vertical scrollbar */
    max-height: 80%;
    /* Limit the maximum height of the cart popup */
}


#cart .content {
    margin-bottom: 10px;
}

.addMore,
.cartSubmit {
    margin-left: 150px;
}

.buttons {

    display: flex;
    flex-direction: row;
    width: 500px;
    /* Adjust the width as needed */

    padding-left: 225px;
    margin: 20px;
}

#cart h2 {
    text-align: center;
}

#successPopup,
#errorPopup,
#addDateTimePopup,
#bookingPopup,
#addPopup {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#addDateTimePopup button,
#bookingPopup button,
#addPopup button {
    margin-top: auto;
}

#addDateTimePopup input {
    justify-content: center;
}

#bookingPopup .popupContent,
#addPopup .popupContent {
    height: unset;
}

#bookingPopup button,
#addPopup button {
    position: absolute; /* Position the button absolutely within the container */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%);
}