@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
    font-family: 'Crillee';
    src: url('./fonts/Crillee\ Italic\ BT.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('./images/featured/1.jpg');
    background-size: cover;
    background-position: center;
}

header{
    font-family: 'Crillee';
    position: relative;
    height: 100px;
    color: #ED1C24;
    font-size: 3.0rem;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0E0D10;
    padding: 10px 20px;
    z-index: 2;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.navbar-right a {
    margin-left: -10px !important;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 0 20px;
}

.logo img {
    width: 150px;
    margin-right: 30px;
}

.username {
    display: flex;
    align-items: center;
}

.user-link {
    position: relative;
    display: flex;
    align-items: center;
    color: #666666 !important;
    text-decoration: none;
}

.user-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9999;
}

.content-container {
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'Crillee';
    font-size: 48px;
    margin-top: 0;
}

.icon-text {
    color: white;
}

.icon {
    color: #ED1C24;
}

#contact-form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px; 
    width: 80%; 
    max-width: 600px;
    padding: 20px;
    overflow: auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input-group label {
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.input-group textarea {
    height: 100%;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #ED1C24;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    font-family: Montserrat;
    font-size: 20px;
}

button[type="submit"] {
    background-color: #ED1C24;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: calc(50% - 10px);
    transition: background-color 0.3s;
    border-radius: 5px;
    height: 3rem;
    font-size: 18px;
    font-weight: 700;
}

button[type="submit"]:hover {
    background-color: #A20912;
}
