/* Popup Form */
#status-form {
    display: none;
    position: fixed;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center the form precisely */
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    z-index: 9999;
    width: 75%;
    max-width: 400px;
    /* Limit maximum width */
    font-size: 18px;
}


#status-form label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
}

#status-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#status-form button[type="button"] {
    width: 95%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#status-form button[type="button"]:hover {
    background-color: #45a049;
}
/*SUBSCFRIPTION*/
/* Popup Form */
#status-form-subscription {
    display: none;
    position: fixed;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center the form precisely */
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    z-index: 9999;
    width: 75%;
    max-width: 400px;
    /* Limit maximum width */
    font-size: 18px;
}


#status-form-subscription label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
}

#status-form-subscription select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#status-form-subscription button[type="button"] {
    width: 95%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#status-form-subscription button[type="button"]:hover {
    background-color: #45a049;
}