@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    margin: 0;
    font-family: Montserrat;
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
}

header {
    position: relative;
    height: 200px;
    background: #717171;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*profile*/
.profile-container {
    position: relative;
    margin-top: -85px;
    text-align: center;
    color: white;
}

.profile-container h1 {
    font-size: 30px;
}

.profile-container h1 span {
    color: red !important;
}

.profile-container p {
    font-size: 15px;
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 15px solid #4F4F4F;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*registered cars*/
.registered-cars {
    margin: 30px;
    color: white;
    font-size: 12px;
}

.car {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.car-status {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap onto the next line */
    margin-left: 200px;
    gap: 250px;
    /* Adjust the gap size between flex items */
    font-size: 18px;
}

.car-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* Add space between rows */
}

.car-text {
    margin-bottom: 5px;
    /* Add space between label and value */
}

.car img {
    width: 180px;
}

#add {
    /* margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; */

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#addPhoto {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*active subscriptions*/

.active-subscriptions {
    margin: 30px;
    color: white;
    font-size: 12px;
}

.subscriptions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*max of two subscriptions per row*/
}

/* popup container */

.popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
    padding: 20px;
    border-radius: 10px;
    color: red;
    z-index: 9999;
    width: 75%;
    height: 68%;
    font-size: 18px;
    overflow-y: auto;
    text-align: center;
}

.popupContent {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#successPopup {
    background-color: #B6DA9F;
}

#successPopup p {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* popup form */

.popupContent form {
    max-width: 80%;
    margin: 0 auto;
}

.popupContent form label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
    font-weight: bold;
}

.popupContent form input[type="text"],
.popupContent form input[type="number"],
.popupContent form input[type="password"],
.popupContent form select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #ED1C24;
    border-radius: 10px;
    resize: none;
    height: auto;
}

.popupContent form select {
    width: 100%;
}

.popupContent form button[type="submit"] {
    font-family: Montserrat;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    background-color: #ED1C24;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.popupContent form button[type="submit"]:hover {
    background-color: #FF5555;
}

.popupContent #closeBtn {
    font-family: Montserrat;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    background-color: #ED1C24;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.popupContent #closeBtn:hover {
    background-color: #FF5555;
}

#successPopup button {
    position: absolute; /* Position the button absolutely within the container */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%);
}

.popupContent form label[for="uploadImage"] {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*tokens popup*/

.tokenContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1C1B1E, #3A3A3C);
    padding: 20px;
    border-radius: 10px;
    color: red;
    z-index: 9999;
    width: 75%;
    height: 68%;
    font-size: 18px;
    overflow-y: auto;
    text-align: center;
}

.bookingPopupPlateNumber {
    color: whitesmoke;
}

.bookingPopupPlateNumber strong {
    color: red;
}

.image-select{
    display: flex;
    align-items: center;
}
.image-select img{
    margin-left: 10px;
    width: 350px;
}
.contentWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.booking,
.dateTimeSubmit {
    font-family: Montserrat;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    background-color: #ED1C24;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.booking:hover,
.dateTimeSubmit:hover {
    background-color: #FF5555;
}

#dateTimePopup button {
    position: absolute; /* Position the button absolutely within the container */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%);
}

#dateTimePopup input {
    width: 60%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha (fourth value) for darkness */
    z-index: 1;
}